In [1]:
import psycopg2

In [2]:
from psycopg2 import sql
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv(r'data/shedulers.csv', encoding='cp1251', sep=';')
df.head(10)

           ФИО Расписание Дата начала расписания Дата окончания расписания
0  Поставщик 1   дддвсвнн        01.01.2019 0:00           10.01.2019 0:00
1  Поставщик 1     ннвннв        11.01.2019 0:00           15.01.2019 0:00
2  Поставщик 1         св        16.01.2019 0:00           20.01.2019 0:00
3  Поставщик 2     свсвсв        01.01.2019 0:00           07.01.2019 0:00
4  Поставщик 2      днвсв        08.01.2019 0:00           14.01.2019 0:00
5  Поставщик 2    ннддвсв        15.01.2019 0:00           31.12.9999 0:00
6  Поставщик 3     нвнвнв        01.01.2019 0:00           01.02.2019 0:00
7  Поставщик 3   двдвдвдв        02.02.2019 0:00           31.12.9999 0:00

In [5]:
# Задание 1

con = psycopg2.connect(dbname="solutiondb", user="admin", password="admin", host="127.0.0.1", port="5432")

cursor = con.cursor()

table1 = """
DROP TABLE IF EXISTS t_contractor_sheruler;
CREATE TABLE t_contractor_sheruler (
   id_name serial PRIMARY KEY,
   name text,
   schedule_id integer
);
"""

table2 = """
DROP TABLE IF EXISTS schedules;
CREATE TABLE schedules (
   schedule_id serial PRIMARY KEY,
   schedule text,
   date_begin timestamp,
   date_end timestamp,
   CHECK (date_begin < date_end)
);
"""

cursor.execute(table1)

cursor.execute(table2)

con.commit()

cursor.close()
con.close()

In [6]:
con = psycopg2.connect(dbname="solutiondb", user="admin", password="admin", host="127.0.0.1", port="5432")

In [7]:
cursor = con.cursor()

In [8]:
t_contractor_sheruler = pd.DataFrame(columns=['id_name', 'name', 'schedule_id'])

In [9]:
t_contractor_sheruler['id_name'] = range(1, 9)
t_contractor_sheruler['name'] = df['ФИО']
t_contractor_sheruler['schedule_id'] = range(1, 9)

In [10]:
schedules = pd.DataFrame(columns=['schedule_id', 'schedule', 'date_begin', 'date_end'])

In [11]:
schedules['schedule_id'] = t_contractor_sheruler['schedule_id']
schedules['schedule'] = df['Расписание']
schedules['date_begin'] = df['Дата начала расписания']
schedules['date_end'] = df['Дата окончания расписания']

In [12]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://admin:admin@127.0.0.1:5432/solutiondb')

In [13]:
engine

Engine(postgresql://admin:***@127.0.0.1:5432/solutiondb)

In [14]:
t_contractor_sheruler.to_sql('t_contractor_sheruler', engine, index=False, if_exists='append')

In [15]:
schedules.to_sql('schedules', engine, index=False, if_exists='append')

In [16]:
# Задание 2

table3 = """
DROP TABLE IF EXISTS t_contractor_work_day;
CREATE TABLE t_contractor_work_day (
   id serial PRIMARY KEY,
   name text,
   date_begin timestamp,
   date_end timestamp,
   CHECK (date_begin < date_end)
);
"""

cursor.execute(table3)

con.commit()

In [17]:
# Задание 5

proc1 = """
CREATE OR REPLACE PROCEDURE public.calc_days(
    start_t date,
    end_t date)
LANGUAGE 'plpgsql'
AS $BODY$
DECLARE 
contractor text;
rec record;
l char;
d date := start_t;
BEGIN
FOR contractor IN (SELECT DISTINCT name FROM t_contractor_sheruler) LOOP
    FOR rec IN (
        SELECT name, schedule, date_begin, date_end
        FROM t_contractor_sheruler
        JOIN schedules
        ON t_contractor_sheruler.schedule_id = schedules.schedule_id
        WHERE name=contractor AND (
            (start_t <= date_begin) AND (date_begin <= end_t)
            OR
            (start_t <= date_end) AND (date_end <= end_t)
        )
        ORDER BY date_begin ASC
    ) LOOP
        FOR d IN (SELECT * FROM generate_series(GREATEST(start_t, rec.date_begin), LEAST(end_t, rec.date_end), '1 day')) LOOP
           l := (regexp_split_to_array(rec.schedule, ''))[date_part('day', d-rec.date_begin)::int % char_length(rec.schedule)+1];
           if (l='в') 
              then continue;
           elsif (l='д')
              then RAISE NOTICE '% - % - %', rec.name, d + interval '8 hours', d + interval '20 hours';
              INSERT INTO t_contractor_work_day (name, date_begin, date_end) 
              VALUES (rec.name, d + interval '8 hours', d + interval '20 hours');
           elsif (l='н')
              then RAISE NOTICE '% - % - %', rec.name, d + interval '20 hours', d + interval '32 hours';
              INSERT INTO t_contractor_work_day (name, date_begin, date_end)
              VALUES (rec.name, d + interval '20 hours', d + interval '32 hours');
           else
              RAISE NOTICE '% - % - %', rec.name, d + interval '8 hours', d + interval '32 hours';
              INSERT INTO t_contractor_work_day (name, date_begin, date_end)
              VALUES (rec.name, d + interval '8 hours', d + interval '32 hours');
           END IF;
        END LOOP;
    END LOOP;
END LOOP;
END;
$BODY$;
"""

In [18]:
cursor.execute(proc1)

con.commit()

In [19]:
q1 = """
SELECT name, COUNT(*) AS days
FROM t_contractor_work_day
GROUP BY name
"""

q2 = """
SELECT name, COUNT(*) AS days
FROM t_contractor_work_day
GROUP BY name
HAVING COUNT(*) > 10
"""

q3 = """
SELECT name
FROM t_contractor_work_day
WHERE date_begin >= '14.01.2019' AND date_begin < '17.01.2019'
GROUP BY name
HAVING COUNT(*) = 3
"""

In [20]:
# нужно выполнить процедуру, чтобы получить данные. В задании не указаны параметры, поэтому вызываю со своими:
cursor.execute("CALL calc_days('01.01.2019', '31.01.2019')")

In [21]:
cursor.execute(q1)
res = cursor.fetchall()
pd.DataFrame(res, columns=['Поставщик', 'Количество'])

     Поставщик  Количество
0  Поставщик 2          22
1  Поставщик 3          16
2  Поставщик 1          15

In [22]:
cursor.execute(q2)
res = cursor.fetchall()
pd.DataFrame(res, columns=['Поставщик', 'Количество'])

     Поставщик  Количество
0  Поставщик 2          22
1  Поставщик 3          16
2  Поставщик 1          15

In [23]:
# Совпадает, т. к. у всех количество заказов > 10; для проверки можно ввести 20:

q4 = """
SELECT name, COUNT(*) AS days
FROM t_contractor_work_day
GROUP BY name
HAVING COUNT(*) > 20
"""

cursor.execute(q4)
res = cursor.fetchall()
pd.DataFrame(res, columns=['Поставщик', 'Количество'])

     Поставщик  Количество
0  Поставщик 2          22

In [24]:
cursor.execute(q3)
res = cursor.fetchall()
pd.DataFrame(res, columns = ['Поставщик'])

     Поставщик
0  Поставщик 1
1  Поставщик 2

In [25]:
cursor.close()
con.close()